@charset "UTF-8";

body {
    background-image: url(imagens/miles.jpg);
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;
}

.text {
    background-image: url(imagens/text2.jpg);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h1 {
    text-align: center;
    font-size: 10em;
    padding-top: 200px;
}