@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,rgb(00,25,26), #00767A,#00B9BF )
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 25, 26, 0.61);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #002526;
    text-align: center;
    text-shadow: 1px 1px 2px #001c1dd5;
}

h2{
    color:#00B9BF
}

p{
    text-align: justify;
}

